include mixins/_sideNav

nav.sidebar
    ul.side-nav
        +sideNav('Home', 'home', '/')
        +sideNav('New Project', 'cube', '/new-project')
        +sideNav('About SensIT', 'info-with-circle', '/about')
        +sideNav('Conctact us', 'mail', '/contact')