extends base

block content
    .content
        include _sidebar
        main.workspace
            .workspace__header
                h3#workspace__title.workspace__title About us:
            .panels
                .panels__about
                    .panels__about--project
                        h1 About the SensIT project
                        p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            | Repellat, blanditiis illo ducimus nesciunt officia totam quae fugit,
                            | facere et, fuga beatae voluptatibus debitis voluptatem suscipit molestiae
                            | voluptate placeat? Exercitationem, error?
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            | Repellat, blanditiis illo ducimus nesciunt officia totam quae fugit,
                            | facere et, fuga beatae voluptatibus debitis voluptatem suscipit molestiae
                            | voluptate placeat? Exercitationem, error?
                    .panels__about--team
                        h1 About the team
                        p
                            | The team is comprised of a multi-disciplinary group of researchers, consultants, bridge inspectors and asset managers
                        .team
                            .team__card
                                img.team__card-img(src="/img/rasmus.png" alt="")
                                .team__card-caption
                                    h3 Rasmus Rempling
                                    p Assoc. Professor at Chalmers University of Technology and Head of R&D at NCC
                                    span ***
                                    p Project manager
                            .team__card
                                img.team__card-img(src="/img/carlos.png" alt="")
                                .team__card-caption
                                    h3 Carlos Gil Berrocal
                                    p
                                        | Postdoc at Chalmers University of Technology and researcher at Thomas Concrete Group
                                    span ***
                                    p Lead researcher
                            .team__card
                                img.team__card-img(src="/img/ignasi.png" alt="")
                                .team__card-caption
                                    h3 Ignasi Fernandez
                                    p Assoc. Professor at Chalmers University of Technology
                                    span ***
                                    p Researcher
                            .team__card
                                img.team__card-img(src="/img/mats.png" alt="")
                                .team__card-caption
                                    h3 Mats Granath
                                    p Assoc. Professor at Gothenburg University
                                    span ***
                                    p Machine Learning Expert
                            .team__card
                                img.team__card-img(src="/img/daniel.png" alt="")
                                .team__card-caption
                                    h3 Daniel Ekström
                                    p Head of Bridge Department at WSP
                                    span ***
                                    p Bridge expert
                            .team__card
                                img.team__card-img(src="/img/peter.png" alt="")
                                .team__card-caption
                                    h3 Peter Simonsson
                                    p Bridge expert at the Swedish Transport Administration
                                    span ***
                                    p Bridge expert
            