doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="shortcut icon" type="image/png" href="img/favicon.ico")
        title SensIT | Viewer — Your smart asset management app
    body
        .container
        .error-wrapper
            a.logo-box-error(href="/manager")
                img.logo-box-error__img(src="/img/Logo-SensIT-Color.svg" alt="sensit logo")
                h1.logo-box-error__text SensIT
            .error-box
                h1.error-box__text--main
                    | Error 404 - Page Not Found
                .error-box__imgBox
                    img.error-box__img(src="/img/error.png" alt="robot-image")
                h1.error-box__text= msg
        script(type="text/javascript" src="/js/bundle.js")
