doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="shortcut icon" type="image/png" href="/img/favicon.ico")
        title SensIT | Login
    body
        main.login-container
            .login-form
                a.logo-box-login(href="/manager")
                    img.logo-box-login__img(src="/img/Logo-SensIT-Color.svg" alt="sensit logo")
                    h1.logo-box-login__text SensIT
                h1.forgot-heading Forgot your password? 
                h2.forgot-subheading Type your email and we will send you a link to restore your password
                form.form-forgot
                    .form-forgot__group
                        label.form-forgot__label(for="email") Email address
                        input#email.form-forgot__input(type="email" placeholder="you@example.com" required="")
                    .form-forgot__group
                        button.form-forgot__btn Send email
                h3.login-signup
                    | Don't have an account yet?
                    a.form-forgot__link(href="/signup")    Sign up!
        script(type="text/javascript" src="./js/bundle.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
