doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
		link(rel="stylesheet" href="/css/style.css")
		link(rel="shortcut icon" type="image/png" href="/img/favicon.ico")
		title SensIT | Viewer — Your smart asset management app
	body
		main.resetPass-container
			.resetPass-form
				a.logo-box-resetPass(href="#")
					img.logo-box-resetPass__img(src="/img/Logo-SensIT-Color.svg" alt="sensit logo")
					h1.logo-box-resetPass__text SensIT
				h1.resetPass-heading Choose a new password
				form.form-resetPass
					.form-resetPass__group
						label.form-resetPass__label(for="password")
							| Password 
							sup *
						input#password.form-resetPass__input(type="password" placeholder="••••••••••••" required="" minlength="8" name="password")
						svg#password-icon.password-icon
							use(xlink:href="/img/sprite.svg#icon-eye")
					.form-resetPass__group
						label.form-resetPass__label(for="passwordConfirm")
							| Confirm password 
							sup *
						input#confirm-password.form-resetPass__input(type="password" placeholder="••••••••••••" required="" minlength="8" name="passwordConfirm")
						svg#confirm-password-icon.password-icon
							use(xlink:href="/img/sprite.svg#icon-eye")
						input(id="token" type="hidden" name="token" value=`${token}`)
					p.resetPass-comment
						sup *
						|   = required field
					.form-resetPass__group
						button.form-resetPass__btn Reset password
		script(type="text/javascript" src="/js/bundle.js")
